// @import "kouto-swiss"




/********************************************************************************************************************************************
 *  FONTS
 ********************************************************************************************************************************************/

@import "_fonts"

//
//  VARIABLES
//

$text_color = white - 10%
$body_color = #000000
$page_color = #010101

$main_color = #FF2929
$gray_color = #848484

$rem  = 16px
$line = $rem * 1.6

$pad1 = 55px
$mod  = 80px

main_font()
		font-family "proba_proregular" sans-serif
second_font()
		font-family "Georgia" serif

main_link()
	link $main_color
	text-decoration none
	border none
	&:hover
		color ($main_color + 20%)
		&:hover
			border none

trim_elipsis($num = 3)
	display: block
	// /* Fallback for non-webkit */
	display: -webkit-box
	// /* Fallback for non-webkit */
	-webkit-line-clamp: $num
	-webkit-box-orient: vertical
	overflow: hidden
	text-overflow: ellipsis

//
//  LIBS & FRAMEWORKS
//
@import "axis"
@import "jeet"

/********************************************************************************************************************************************
 *  NORMALIZE
 ********************************************************************************************************************************************/
normalize-css()








/********************************************************************************************************************************************
 *  GENERAL
 ********************************************************************************************************************************************/

//
// BOX-SIZING reset
//
// box-sizing-reset()


body
	background-color $body_color
	color $text_color

	font-size $rem
	main_font()



#page
	margin 0 auto
	padding-top 0
	background-color $page_color

	position relative

.container
	max-width 1440px
	margin 0 auto
	padding 0
	cf()
	position relative



/********************************************************************************************************************************************
 *  BASE TYPOGRAPHY
 ********************************************************************************************************************************************/


// HEADINGS
h1
	h1()
h2
	h2()
h3
	h3()
h4
	h4()
h5
	h5()
h6
	h6()

// PRE & CODE
pre
	pre()
	color black
code
	code()

// QUOTES
blockquote
	blockquote()

// IMG
img
	max-width 100%


// ANCHORS



header()
	color $main_color
	font-weight bold
	second_font()

	fs: 1.75rem

	text-transform uppercase
	letter-spacing 0.15em

	a
		color $main_color
		text-decoration none
		border none

		link $main_color 'underline'

		// border-bottom 2px
		// transition all 0.5s

		// &:hover
		// 	border-bottom solid 2px
		// 	transition all 0.5s

article-header-large()
	header()
	color $text_color
	fs: 1.625rem





/********************************************************************************************************************************************
 *  HEADER
 ********************************************************************************************************************************************/

#masthead
	position fixed
	width 100%
	top 0
	z-index 9999

	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	transition all 3s
	ease-in-quad()
	padding-bottom $line

#masthead.shrink
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(1,0,0,0.05) 97%, rgba(1,0,0,0) 100%);
	transition all 5s
	ease-in-quad()

#masthead .container
		//width 1400px // ------------------------------------------------------------ ???


.site-branding
	span(12/84, offset: 12/84)

	// width 236px
	height 1.1*$mod

	background: url("./../images/logo-mid.png") no-repeat
	background-size: contain

	hover-pop: 1.02

	h1
		font: 0/0 a;
		margin 0
		padding 0
		width 100%
		height 100%

	.home-link
		display block
		width 100%
		height 100%

		&:hover
			border none

.descriptor
	span(49/84, offset: 3/84)
	padding-top 18px
	padding-bottom 10px
	color $gray_color
	fs: 0.75rem
	// padding-left $pad1
	position relative
	// left $pad1


	// Выравнивание по ширине
	div
		width 100%
		text-align justify
		/* Обнуляем для родителя*/
		line-height 0
		font-size 1px /* 1px для Opera */
		/* Лекарство для IE6-7*/
		text-justify newspaper
		zoom 1
		/* Включаем в работу последнюю строку*/
		text-align-last: justify
		&:after
			width 100%
			height 0px
			visibility hidden
			overflow hidden
			content ''
			display inline-block
		p
			display inline-block
			text-align left
			/* Востанавливаем у потомков, кроме последнего*/
			line-height normal
			fs 0.75rem
			/* Без него в Opera будет отступ под элементами */
			vertical-align top
			/* эмуляция inline-block для IE6-7*/
			//display inline
			//zoom 1


	.social-top
		i
			fs: 1rem
			padding 0 0.2em

			&:hover
				color $gray_color+25%
				cursor pointer










/********************************************************************************************************************************************
 *  MAIN MENU
 ********************************************************************************************************************************************/

#site-navigation
	position relative
	// left $pad1

	span(49/84, offset: 3/84)
	position relative
	// padding-left $pad1

	a
		link $main_color 'underline'


	ul
		margin 0
		padding 0

		li
			margin 0
			padding 0


	// Выравнивание по ширине
	ul
		width 100%
		text-align justify
		/* Обнуляем для родителя*/
		line-height 0
		font-size 1px /* 1px для Opera */
		/* Лекарство для IE6-7*/
		text-justify newspaper
		zoom 1
		/* Включаем в работу последнюю строку*/
		text-align-last: justify
		&:after
			width 100%
			height 0px
			visibility hidden
			overflow hidden
			content ''
			display inline-block
		li
			display inline-block
			text-align left
			/* Востанавливаем у потомков, кроме последнего*/
			line-height normal
			fs 1rem
			/* Без него в Opera будет отступ под элементами */
			vertical-align top
			/* эмуляция inline-block для IE6-7*/
			//display inline
			//zoom 1

	.search
		// width (100%/7)
		i
			float left
			color $gray_color
			fs: 1.1rem
		form
			margin 0
			padding 0
			display inline-block
			margin-left 7px
			input
				margin 0
				padding 0
				background-color $body_color
				border none
				border-bottom 1px solid $gray_color






/********************************************************************************************************************************************
 *  CONTENT
 ********************************************************************************************************************************************/

#content
	// padding-top 164px


#primary
	// span(6/7, offset: 1/7)















/********************************************************************************************************************************************
 *  PLAYBILL
 ********************************************************************************************************************************************/
#playbill
	background-color #000000

#playbill .container
	cf()
	height 12*$mod
	position relative
	margin-bottom $mod


	.section-header
		header()
		position absolute
		bottom .5*$line
		height $mod
		left (100%/7)
		z-index 10

		line-height 1em
		margin 0

	.event
		display none // for JS
		// &:first-child
		// 	display block

		position absolute
		// position relative
		top 0
		right 0
		width 100%
		height 100%

		// background-color red

	.event.active
		display block // for JS

	.title-block
		position absolute
		bottom 3*$line
		right (100%/7)

		text-align right

		.title
			margin 0

			second_font()
			fs: 2.8rem
			line-height 1em
			text-transform uppercase
			letter-spacing 0.1em
			text-align right

			height $mod

			font-weight bold

		.author
			margin 0
			margin-bottom 1em

			fs: 2.5rem
			line-height 1em
			text-transform uppercase
			letter-spacing 0.1em
			text-align right

	.date-block
		position absolute
		background-color #E3D2C4
		width (100%/7)
		height 5*$mod
		top 3*$mod
		left (100%/7)
		padding 0 ($pad1/2)

		color black
		second_font()
		text-transform uppercase
		letter-spacing 0.1em

		.day
			fs: 10rem
			line-height 1em
			// margin-top ($pad1/2)
		.month
			fs: 2rem
			font-weight bold
		.weekday
			fs: 1.5rem
		.date
			line-height 1.2em
			margin 0
			padding 0
			display block
		text-align center

		.button-buy
			margin-top $line
			button()
			// margin-bottom ($pad1/2)

	.calendar
		height 45px
		background $main_color
		position absolute
		bottom 0
		width 100%
		color $text_color
		fs: 1.3rem
		text-align center
		a
			// vertically-align()
			display inline-block
			color $text_color
			background $main_color
			border none
			text-decoration none
			width 23px
			text-align center
			&:hover
				border none
				text-decoration none
			hover-pop: 1.5
			padding 0 0.2em
			margin 0 0.5em
			line-height 44px

			.weekday
				fs: 1.1rem
				text-transform uppercase
				line-height 38px
				display block
				position absolute
				background $body_color
				top 100%
		a.active
			transform scale(1.5)















/********************************************************************************************************************************************
 *  NEWSBLOCK
 ********************************************************************************************************************************************/

#newsblock
	background-color #070B18
	cf()

	a
		link $main_color 'underline'

#newsblock .container
	// display none
	padding-top $mod

	.articles
		span(16/21, offset: 1/7)
		// span(5/7, offset: 1/7)

	.section-header
		header()
		position relative
		// bottom .5*$line
		height $mod
		left (100%/7)
		z-index 10

		line-height 1em
		margin 0

	.entry-image
		box-sizing: border-box
		span(1/2)
		img
			width auto
			height 100%
	.entry-content
		span(1/2)
		box-sizing: border-box
		padding $line 2*$line
		overflow hidden

	article
		height 4*$mod
		overflow hidden
		padding 5px

		&:first-child
			background-color #020042


	.readmore
		link $main_color 'underline'








/********************************************************************************************************************************************
 *  DIRECTORS WORD
 ********************************************************************************************************************************************/

#directors-word
	background: linear-gradient(to right, #580202 0%, #1e0c09 100%);

#directors-word .container
	height 12*$mod

	article
		// box-sizing: padding-box
		span(4/14, offset: 1/7)
		padding $pad1

		fs: 0.875rem

		em
			color $main_color
			second_font()

		p + p
			margin-bottom $line


	.article-header
		article-header-large()






/********************************************************************************************************************************************
 *  PAGES
 ********************************************************************************************************************************************/

.page
	padding-top 2*$mod
	cf()

	.secondary-navigation
		text-transform uppercase

		span(12/84, offset: 12/84)
		// position fixed
		// left (100%/7)
		// width (100%/7)

		ul, li
			margin 0
			padding 0
			list-style none

		a
			link ($main_color - 40%)
			text-decoration none
			border none

			line-height 1.8em

			&:hover
				color $main_color
				&:hover
					border none
			&.active
				color $main_color

	.content
		// span(49/84, offset: 27/84)
		span(49/84, offset: 3/84)

		.section
			display none
			&.active
				display block





/********************************************************************************************************************************************
 *  Playbill page
 ********************************************************************************************************************************************/



#playbill-page

	.event

		// height (2/3)*$mod
		margin-bottom 2.5em

		.date
			color $main_color
			second_font()
			&:after
				content ' '

			&.day
				font-weight bold
				fs: 1rem
			&.weekday
				fs: (13/16)rem


		.date-block, .title-block, .other, .meta
			display inline-block

		.date-block
			width 50px
		.title-block
			position relative
			max-width (55%)
			.title
				text-transform uppercase
				letter-spacing 0.05em
				a
					link $text_color
					text-decoration none
					border none
					&:hover
						border none
						text-decoration none
						color $main_color
			.author
				position absolute
				// width 100%
				top 100%
				left 0

				fs: (13/16)rem
				color $gray_color

				white-space nowrap
		.other
			.rate
				second_font()
				color $main_color - 70%
				margin-left 1em
		.meta
			margin-left 1em
			// display none
			opacity 0
			color $gray_color

			transition all 0.3s ease-out

			position absolute

			.duration, .start-time
				&:after
					content ' '

		&:hover
			.meta
				// display inline-block
				opacity 1
				transition all 1s ease

// .date.day
// .date.weekday
// .title
// .author
// .rate
// .duration
// .start-time








/********************************************************************************************************************************************
 *  Troupe page
 ********************************************************************************************************************************************/



#troupe-page

	.person
		col(97/400)

		text-align center
		fs: (14/16)rem

		margin-bottom $mod

		position relative

		p
			margin 0
			padding 0

		.portret
			height 2.5*$mod
			overflow hidden
		.caption
			position absolute
			width 100%
		.grade
			color $gray_color

		&.director
			// span(1/3, offset: 1/3)
			center(30%)
			clear right

			.portret
				height auto







/********************************************************************************************************************************************
 *  Repertoire page
 ********************************************************************************************************************************************/

#repertoire-page
	.content
		span(41/84, offset: 3/84)

	.performance
		cf()
		margin-bottom $mod

		.title-block
			height 1*$mod
			.title, .author, .rate
				display inline-block
				&:after
					content ' '
					line-height 1rem
			.title
				fs: (24/16)rem
				second_font()
				color $main_color
				font-weight bold
				a
					main_link()
			.author
				fs: (13/16)rem
			.rate
				color $main_color - 20%
				fs: (24/16)rem
				float right
			.genre_description
				second_font()
				font-style italic
				color $main_color
				fs: (14/16)rem

		.picture, .annotation
			height 2*$mod
			col(18/41)
		.picture
			// col(1/3)
			position relative
			a
				display block
				font: 0/0 a;
				margin 0
				padding 0
				width 100%
				height 100%
		.annotation
			// col(1/3)

			fs: (14/16)rem
			line-height (19/16)rem
			.text
				trim_elipsis(9)
				position relative
				top -6px
				// vertical-align: 3px
				// max-width: 300px

	.performance-list
		position absolute
		left (1/7)*100%
		top 2*$mod
		width (1/7)*100%
		ul, li
			margin 0
			padding 0
			list-style none
		.title
			fs: (14/16)rem
			a
				main_link()
				color $text_color
		.author
			fs: (11/16)rem
			color desaturate(($main_color + 20%), 60%)
			margin-bottom .5em

/********************************************************************************************************************************************
 *  FOOTER
 ********************************************************************************************************************************************/

#footer
	color $gray_color

	margin $mod 0

	cf()

	.container
		border-top 1px solid
		// border-bottom 1px solid
		padding 0.66*$mod 0
		cf()
		// width 100%

		// span(74/84, offset: 6/84)


	fs: (12/16)rem

	a
		link $gray_color
		text-decoration none
		border none
		&:hover
			border none
			text-decoration none
			color $text_color

	.colophon
		span(14/74, offset: 1/74)

		.copyrights, .design
			color $text_color
			fs: (12/16)rem
			p
				margin 0
				padding 0

		.copyrights
			margin-bottom 2em


	.sitemap
		span(58/74)

		ul, li
			margin 0
			padding 0
			list-style none

		position relative

		.page_item
			position relative
			border-left 1px solid
			box-sizing border-box
			padding 0 $line
			height 100%
			// display inline-block
			span(1/7)
			fs: (14/16)rem

			a
				link $text_color
				text-decoration none
				border none
				&:hover
					border none
					text-decoration none
					color white


		.subnav
			margin-top $line
		.subpage_item
			fs: (12/16)rem
			// position absolute
			// display none

			a
				link $gray_color
				text-decoration none
				border none
				&:hover
					border none
					text-decoration none
					color $text_color


	.sponsors
		col(7/7)
		text-align center
		line-height 2rem
		border-top 1px solid
		margin-top 2rem