extends ./_layout.jade

block prepend scripts
	script(src="./js/vendor/jquery.fittext.js")

block title
	title Сайт театра «Комедианты» | Главная

block content
	- var events = data.where({"post_type": "event"}).value()
	- var monthsA = ["Нулября","Января","Февраля","Марта","Апреля","Мая","Июня","Июля","Августа","Сентября","Октября","Ноября","Декабря"]
	- var troupe = data.where({"post_name": "troupe"}).value().pop()
	- var troupebg = data.where({"post_type":"attachment", "post_parent":troupe.ID, "post_name":"background.jpg"}).value().pop()
	- if (troupebg)
		- var troupebg = 'background:url(' + troupebg.postmeta['_wp_attached_file'] + ') top center no-repeat; background-size: cover;'

	#troupe-page(style="#{troupebg}")
		.container

			nav.troupe-navigation
				ul
					li
						a(href="#actors").active Актеры
					li
						a(href="#cooperate") С нами сотрудничают
					li
						a(href="#management") Руководство
					li
						a(href="#theatricals") Постановочная часть
					li
						a(href="#administration") Административная часть

			.troupe-list
				#actors.section.active

				#cooperate.section

				#management.section
				#theatricals.section
				#administration.section


		// .container
	// #troupe